<a href="https://colab.research.google.com/github/IrfanPavel/Pandas_DataAnalysis/blob/main/Pandas_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1.Data-Types-Series & Data Frame
series-1D column of data
Data Frame-2D table of data with rows and columns

In [ ]:
#Creating a series of cars
cars=pd.Series(["BMW","Toyota","Honda"])

In [ ]:
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [ ]:
#Creating a dataframe of cars and colours
car_data=pd.DataFrame({"Car Type":cars})
car_data

  Car Type
0      BMW
1   Toyota
2    Honda

In [ ]:
car_sales=pd.read_csv("car-sales.csv")
car_sales

FileNotFoundError: ignored

In [ ]:
car_sales

#Describing a Data

In [ ]:
car_sales.dtypes

.describe() wil give a quick statistical overview of the numerical columns

In [ ]:
car_sales.describe()

.info() shows a handful informaation about A dataframe such as:
-How many rows there are
-whether there are missing values o not
-the datatypes of each coloumn

In [ ]:
car_sales.info()

In [ ]:
car_sales.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales.columns

In [ ]:
#Save car_sales columns to a list

car_columns=car_sales.columns

In [ ]:
car_columns[1]

In [ ]:
car_sales.index

In [ ]:
len(car_sales)

SELECTING And Viewin g Data

In [ ]:
#.head()-allow to view the first 5 rows of dataframe
car_sales.head(7)

In [ ]:
car_sales.tail(3)

In [ ]:
animals=pd.Series(["cat","dog","bird","snake","ox","lion"],
                  index=[0,3,9,8,67,3])
animals

In [ ]:
animals.loc[3]

In [ ]:
animals.loc[9]

In [ ]:
car_sales

In [ ]:
car_sales.loc[3]

In [ ]:
animals

In [ ]:
car_sales.iloc[3]

In [ ]:
#iloc works with exact positions
animals.iloc[3]

In [ ]:
car_sales

In [ ]:
car_sales["Colour"]

In [ ]:
  #Select cars with over 100,000 on the odometer
car_sales[car_sales["Odometer (KM)"]>100000]

In [ ]:
car_sales[car_sales["Make"]=="Toyota"]

In [ ]:
car_sales

In [ ]:
pd.crosstab(car_sales["Make"],car_sales['Doors'])

In [ ]:
car_sales.groupby(["Make"]).mean()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales["Price"].plot()

In [ ]:
#cHANGE pRICE COLUMNS TO INTEGERS
car_sales["Price"]=car_sales["Price"].str.replace('[\$\,\.]', '').astype(int)

In [ ]:
car_sales["Price"].plot()

In [ ]:
#Manipulating Data
car_sales["Make"]=car_sales["Make"].str.upper()
car_sales.head(5)

In [ ]:
car_sales

In [ ]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [ ]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [ ]:
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace=True)

In [ ]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [ ]:
car_sales_missing.dropna()

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[815 rows x 5 columns]

In [ ]:
car_sales_missing.dropna(inplace=True)
car_sales_missing=car_sales_missing.dropna()

In [ ]:
#Create a column from a pandas series
seats_column=pd.Series([5,5,5,5,5,5,5,5,5,5,5,5,5,5,5])
car_sales_missing["Seats"]=seats_column
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats
0     Honda  White        35431.0    4.0  15323.0    5.0
1       BMW   Blue       192714.0    5.0  19943.0    5.0
2     Honda  White        84714.0    4.0  28343.0    5.0
3    Toyota  White       154365.0    4.0  13434.0    5.0
4    Nissan   Blue       181577.0    3.0  14043.0    5.0
..      ...    ...            ...    ...      ...    ...
994     BMW   Blue       163322.0    3.0  31666.0    NaN
995  Toyota  Black        35820.0    4.0  32042.0    NaN
997  Nissan   Blue        66604.0    4.0  31570.0    NaN
998   Honda  White       215883.0    4.0   4001.0    NaN
999  Toyota   Blue       248360.0    4.0  12732.0    NaN

[815 rows x 6 columns]

In [ ]:
#Column from another columns
car_sales_missing["Price per KM"]=car_sales_missing["Price"]/car_sales_missing["Odometer (KM)"]
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Price per KM
0     Honda  White        35431.0    4.0  15323.0    5.0      0.432474
1       BMW   Blue       192714.0    5.0  19943.0    5.0      0.103485
2     Honda  White        84714.0    4.0  28343.0    5.0      0.334573
3    Toyota  White       154365.0    4.0  13434.0    5.0      0.087027
4    Nissan   Blue       181577.0    3.0  14043.0    5.0      0.077339
..      ...    ...            ...    ...      ...    ...           ...
994     BMW   Blue       163322.0    3.0  31666.0    NaN      0.193887
995  Toyota  Black        35820.0    4.0  32042.0    NaN      0.894528
997  Nissan   Blue        66604.0    4.0  31570.0    NaN      0.473996
998   Honda  White       215883.0    4.0   4001.0    NaN      0.018533
999  Toyota   Blue       248360.0    4.0  12732.0    NaN      0.051264

[815 rows x 7 columns]

In [ ]:
car_sales_missing["wheels"]=4
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Price per KM  wheels
0     Honda  White        35431.0    4.0  15323.0    5.0      0.432474       4
1       BMW   Blue       192714.0    5.0  19943.0    5.0      0.103485       4
2     Honda  White        84714.0    4.0  28343.0    5.0      0.334573       4
3    Toyota  White       154365.0    4.0  13434.0    5.0      0.087027       4
4    Nissan   Blue       181577.0    3.0  14043.0    5.0      0.077339       4
..      ...    ...            ...    ...      ...    ...           ...     ...
994     BMW   Blue       163322.0    3.0  31666.0    NaN      0.193887       4
995  Toyota  Black        35820.0    4.0  32042.0    NaN      0.894528       4
997  Nissan   Blue        66604.0    4.0  31570.0    NaN      0.473996       4
998   Honda  White       215883.0    4.0   4001.0    NaN      0.018533       4
999  Toyota   Blue       248360.0    4.0  12732.0    NaN      0.051264       4

[815 rows x 8 columns]

In [ ]:
car_sales_missing["safety"]=True
car_sales_missing

       Make Colour  Odometer (KM)  Doors  ...  Seats  Price per KM  wheels  safety
0     Honda  White        35431.0    4.0  ...    5.0      0.432474       4    True
1       BMW   Blue       192714.0    5.0  ...    5.0      0.103485       4    True
2     Honda  White        84714.0    4.0  ...    5.0      0.334573       4    True
3    Toyota  White       154365.0    4.0  ...    5.0      0.087027       4    True
4    Nissan   Blue       181577.0    3.0  ...    5.0      0.077339       4    True
..      ...    ...            ...    ...  ...    ...           ...     ...     ...
994     BMW   Blue       163322.0    3.0  ...    NaN      0.193887       4    True
995  Toyota  Black        35820.0    4.0  ...    NaN      0.894528       4    True
997  Nissan   Blue        66604.0    4.0  ...    NaN      0.473996       4    True
998   Honda  White       215883.0    4.0  ...    NaN      0.018533       4    True
999  Toyota   Blue       248360.0    4.0  ...    NaN      0.051264       4    True

[815 rows x 9 columns]

In [ ]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors  ...  Seats  Price per KM  wheels  safety
0     Honda  White        35431.0    4.0  ...    5.0      0.432474       4    True
1       BMW   Blue       192714.0    5.0  ...    5.0      0.103485       4    True
2     Honda  White        84714.0    4.0  ...    5.0      0.334573       4    True
3    Toyota  White       154365.0    4.0  ...    5.0      0.087027       4    True
4    Nissan   Blue       181577.0    3.0  ...    5.0      0.077339       4    True
..      ...    ...            ...    ...  ...    ...           ...     ...     ...
994     BMW   Blue       163322.0    3.0  ...    NaN      0.193887       4    True
995  Toyota  Black        35820.0    4.0  ...    NaN      0.894528       4    True
997  Nissan   Blue        66604.0    4.0  ...    NaN      0.473996       4    True
998   Honda  White       215883.0    4.0  ...    NaN      0.018533       4    True
999  Toyota   Blue       248360.0    4.0  ...    NaN      0.051264       4    True

[815 rows x 9 columns]

In [ ]:
car_sales_missing=car_sales_missing.drop("Price per KM", axis=1)
car_sales_missing

KeyError: ignored

In [ ]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  wheels  safety
0     Honda  White        35431.0    4.0  15323.0    5.0       4    True
1       BMW   Blue       192714.0    5.0  19943.0    5.0       4    True
2     Honda  White        84714.0    4.0  28343.0    5.0       4    True
3    Toyota  White       154365.0    4.0  13434.0    5.0       4    True
4    Nissan   Blue       181577.0    3.0  14043.0    5.0       4    True
..      ...    ...            ...    ...      ...    ...     ...     ...
994     BMW   Blue       163322.0    3.0  31666.0    NaN       4    True
995  Toyota  Black        35820.0    4.0  32042.0    NaN       4    True
997  Nissan   Blue        66604.0    4.0  31570.0    NaN       4    True
998   Honda  White       215883.0    4.0   4001.0    NaN       4    True
999  Toyota   Blue       248360.0    4.0  12732.0    NaN       4    True

[815 rows x 8 columns]

In [ ]:
car_sales_shuffle=car_sales_missing.sample(frac=1)
car_sales_shuffle

       Make Colour  Odometer (KM)  Doors    Price  Seats  wheels  safety
739   Honda  White       187380.0    4.0   4022.0    NaN       4    True
717  Nissan  White        87997.0    4.0  28596.0    NaN       4    True
888     BMW   Blue       244095.0    5.0  25780.0    NaN       4    True
92    Honda  White       115183.0    4.0   6481.0    NaN       4    True
558   Honda  Green       194035.0    4.0  11648.0    NaN       4    True
..      ...    ...            ...    ...      ...    ...     ...     ...
639  Nissan  White        71103.0    4.0   6884.0    NaN       4    True
297  Toyota    Red       162665.0    4.0   7042.0    NaN       4    True
482  Nissan  White        51004.0    4.0  31633.0    NaN       4    True
498   Honda  Green        81764.0    4.0  29004.0    NaN       4    True
665  Toyota   Blue       226217.0    4.0  15413.0    NaN       4    True

[815 rows x 8 columns]

In [ ]:
#Reset Index
car_sales_shuffle.reset_index()

     index    Make Colour  Odometer (KM)  Doors    Price  Seats  wheels  safety
0      739   Honda  White       187380.0    4.0   4022.0    NaN       4    True
1      717  Nissan  White        87997.0    4.0  28596.0    NaN       4    True
2      888     BMW   Blue       244095.0    5.0  25780.0    NaN       4    True
3       92   Honda  White       115183.0    4.0   6481.0    NaN       4    True
4      558   Honda  Green       194035.0    4.0  11648.0    NaN       4    True
..     ...     ...    ...            ...    ...      ...    ...     ...     ...
810    639  Nissan  White        71103.0    4.0   6884.0    NaN       4    True
811    297  Toyota    Red       162665.0    4.0   7042.0    NaN       4    True
812    482  Nissan  White        51004.0    4.0  31633.0    NaN       4    True
813    498   Honda  Green        81764.0    4.0  29004.0    NaN       4    True
814    665  Toyota   Blue       226217.0    4.0  15413.0    NaN       4    True

[815 rows x 9 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Lamda
car_sales_missing["Odometer (KM)"].apply(lambda x:x*1.6)

0       56689.6
1      308342.4
2      135542.4
3      246984.0
4      290523.2
         ...
994    261315.2
995     57312.0
997    106566.4
998    345412.8
999    397376.0
Name: Odometer (KM), Length: 815, dtype: float64

In [ ]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  wheels  safety
0     Honda  White        35431.0    4.0  15323.0    5.0       4    True
1       BMW   Blue       192714.0    5.0  19943.0    5.0       4    True
2     Honda  White        84714.0    4.0  28343.0    5.0       4    True
3    Toyota  White       154365.0    4.0  13434.0    5.0       4    True
4    Nissan   Blue       181577.0    3.0  14043.0    5.0       4    True
..      ...    ...            ...    ...      ...    ...     ...     ...
994     BMW   Blue       163322.0    3.0  31666.0    NaN       4    True
995  Toyota  Black        35820.0    4.0  32042.0    NaN       4    True
997  Nissan   Blue        66604.0    4.0  31570.0    NaN       4    True
998   Honda  White       215883.0    4.0   4001.0    NaN       4    True
999  Toyota   Blue       248360.0    4.0  12732.0    NaN       4    True

[815 rows x 8 columns]